@model TTMH_EDA_HIS.ViewModels.AccountLoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_EmptyLayout";
}
@section CSS{
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <style>
        @@media (max-width:1400px) {
            .MD-adjust-1 {
                display: block;
                width: 100%;
            }
        }
        .SC-login_border{
            border:#008F8C solid 4px !important;
            border-radius: 10px;
            height:100%;
        }
        .SC-input-form_text {
            font-size: 40px;
            color: white;
            background-color: #0CABA8;
            border: 0px;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            width: 85%;
        }
        .SC-input-button-form_submit {
            background-color: #4443a3;
            border-radius: 10px;
            border: 0px solid;
            color: white;
            font-size: 30px;
            padding: 10px;
            width: 85%;
        }
        .SC-input-button-form_submit:hover {
            background-color: #5554b4;
        }
        .SC-input-button-form_submit:focus {
            background-color: #5554b4;
        }
    </style>
}
<div class="container-xl">
    <div class="mx-auto" style="margin-top: 75px;">
        <div class="row d-flex justify-content-between">
            <div class="col-5 MD-adjust-1">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <img src="~/img/Logo.png" alt="Logo" width="500px" height="500px">
                    </div>
                </div>
                <div class="row">
                    <h1 class="h1 AT-fs-70 text-white text-center">童綜合醫院HIS</h1>
                </div>
            </div>
            <div class="col-6 MD-adjust-1">
                <div class="SC-login_border border d-flex align-items-center justify-content-center">
                    <div class="col">
                        <form asp-action="Login" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger ms-4 fw-bold"></div>
                            <div class="row form-group">
                                <input type="text" asp-for="Account" class="SC-input-form_text mx-auto my-3 form-control" placeholder="帳號" aria-label="帳號" />
                                <span asp-validation-for="Account" class="text-danger ms-5 fw-bold"></span>
                            </div>
                            <div class="row form-group">
                                <input type="password" asp-for="Password" class="SC-input-form_text mx-auto my-3 form-control" placeholder="密碼" aria-label="密碼" />
                                <span asp-validation-for="Password" class="text-danger ms-5 fw-bold"></span>
                            </div>
                            <div class="row form-group">
                                <input type="submit" value="登入" class="SC-input-button-form_submit BS-btn mx-auto my-2 btn" />
                            </div>
                        </form>
                        <div class="row">
                            <a href="" class="h4 text-white text-center" style="font-weight: 300;text-decoration: none;">忘記密碼</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

