@{
    ViewData["Title"] = "Home Page";
    Layout = "_EmptyLayout";
}
@section CSS{
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <style>
        @@media (max-width:1400px) {
            .MD-adjust-1 {
                display: block;
                width: 100%;
                text-align: center;
            }

            .MD-adjust-2 {
                display: flex;
                justify-content: center;
            }

            .MD-adjust-3 {
                width: 230px;
            }

        }
    </style>
}
<div class="container-xl d-flex" style="height:900px;">
    <div class="my-auto" style="width:100%;">
        <div class="row justify-content-center">
            <div class="col-3 MD-adjust-1">
                <img src="~/img/Logo.png" alt="Logo" width="300px" height="300px">
            </div>
            <div class="col-9 my-auto MD-adjust-1">
                <h1 class="h1 text-white" style="font-size: 130px;">童綜合醫院HIS</h1>
            </div>
        </div>
        <div class="row mt-5 MD-adjust-2">
            <a class="col-2 mx-auto BS-btn AT-bg-primary-emphasis fs-1 MD-adjust-3 CT-input-text-entry btn" asp-controller="Account" asp-action="Index" role="button">
                進入系統
            </a>
        </div>
    </div>
</div>
