@{
    ViewData["Title"] = " 藥局 ";
}

@section CSS{
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <style>
        @@media (max-width:1780px) {
            .ED-media-1 {
                margin-top: 30px;
                width: 100% !important;
            }
        }

        .SC-input-button-form_submit {
            background-color: #4443a3;
            border-radius: 10px;
            border: 0px solid;
            color: white;
            font-size: 27px;
            padding: 15px;
            width: 85%;
        }

            .SC-input-button-form_submit:hover {
                background-color: #5554b4;
            }

            .SC-input-button-form_submit:focus {
                background-color: #5554b4;
            }

    </style>
}
@*大框架*@
<div class="container">
    <!-- 搜尋 -->
    <div class="row my-3 d-flex justify-content-center">
        <form class="d-flex justify-content-center row">
            <!-- asp-action="ChartList" asp-route-id="" method="post"  -->
            <div class="form-group col m-3">
                <!-- method="post" -->
                <input type="text" class="form-control AT-fs-25 border-4 border-AT-fg-primary-deep"
                       placeholder="請輸入領藥號/病例編號">
                <!-- asp-for="content" -->
            </div>
        </form>
    </div>
    <!-- 病人資訊 -->
    <div class="row d-flex justify-content-center">
        <div class="container-lg col-11 mx-5 my-3 py-3 row ED-media-1  AT-bg-secondary-emphasis  AT-rounded-1 d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">領藥號:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">領藥號</p>
                </div>
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">病例編號:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">病例編號</p>
                </div>
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">病患姓名:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">病患姓名</p>
                </div>
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">性別:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">性別</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">出生年月日:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">出生年月日</p>
                </div>
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">年齡:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">年齡</p>
                </div>
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">看診醫生:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">看診醫生</p>
                </div>
                <div class="col-2 d-flex mx-3">
                    <p class="h4 text-white lh-lg text-end">看診日期:</p>&nbsp;
                    <p class="h4 text-white lh-lg text-end">看診日期</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 開藥內容 -->
    <div class="row">
        <div class="container-lg col-11 py-4 ED-BadgeTablePosition-2">
            <table class="ED-BadgesTable-2 w-100">
                <thead>
                    <tr>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-2  ps-5 text-start py-3" style="border-top-left-radius:25px;">
                            藥品編號
                        </th>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-2 py-3 text-start">
                            藥品名稱
                        </th>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            日劑
                        </th>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            次量
                        </th>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            用法
                        </th>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            天數
                        </th>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            總量
                        </th>
                        <th class="h4 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col py-3 text-start" style="border-top-right-radius:25px;">
                            註
                        </th>
                    </tr>
                </thead>
                <tbody class="h4 CT-tbody-ColorInterval">

                    <tr>
                        <td>
                            DrugID
                        </td>
                        <td>
                            DrugName
                        </td>
                        <td>
                            DosID
                        </td>
                        <td>
                            Freq
                        </td>
                        <td>
                            BodyParts
                        </td>
                        <td>
                            Days
                        </td>
                        <td>
                            Total
                        </td>
                        <td>
                            Remark
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- 領藥按鈕 -->
    <div class="row d-flex flex-row mx-3">
        @*空白*@
        <div class="col-8"></div>
        @*按鈕*@
        <div class="col-4 d-flex justify-content-center">
            <button class="BS-btn SC-input-button-form_submit btn m-4 p-2" style="width:220px;height:60px;">
                @*id="Post"*@
                完成領藥
            </button>
        </div>
    </div>
</div>

