
/* MVC Default--------------------------------------------------------------------------------*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    background-color: #044849;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    background-color: #044849;
}

/* Bootstrap Edit--------------------------------------------------------------------------------*/

.btn{
    border:#023535 solid 1px !important;
}

.btn-primary {
    background-color: #0FC2C0 !important;
}

.btn-primary-emphasis{
    background-color: #008F8D;
}

.bg-primary {
    background-color: #0CABAB !important;
}

.bg-secondary,.active{
    background-color: #023535 !important;
}

.bg-third{
    background-color: #BCEFEE;
}

.text-secondary {
    color: #023535 !important;
}

.rounded-4{
    border-radius: 20px !important;
}
.rounded-4-top-left{
    border-top-left-radius: 20px !important;
}
.rounded-4-top-right{
    border-top-right-radius: 20px !important;
}
.rounded-4-bottom-left{
    border-bottom-left-radius: 20px !important;
}
.rounded-4-bottom-right{
    border-bottom-right-radius: 20px !important;
}


/* Project Edit-----------------------------------------------------------------------------------*/

@media (max-width:992px) {
    .ED-Nav-Logo {
        display: none;
    }
}

.ED-input-text1 {
    background-color: #0FC2C0;
    font-size: 40px;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 85%;
}

.ED-input-button1 {
    background-color: #4443a3;
    border-radius: 10px;
    border: 0px solid;
    color: white;
    font-size: 30px;
    padding: 10px;
    width: 85%;
}

.ED-input-button2:hover {
    background-color: #008F8C;
}

.ED-input-button2:focus {
    background-color: #0CABAB;
}

.ED-hr {
    border-top: 7px solid #046161;
}

.ED-A4_paper {
    width: 1240px;
    height: 1754px;
    padding: 15px 15px 30px 30px;
    background-color: white;
}

.ED-A2_paper {
    width: 1790px;
    height: 1240px;
    padding: 40px 70px;
    background-color: white;
}

.ED-tbody-ColorInterval tr:nth-of-type(odd){
    background-color: #BCEFEE;
}

.ED-tbody-ColorInterval tr:nth-of-type(even){
    background-color: #AAD7D6;
}

.ED-tbody-ColorInterval>tr>td{
    font-size: 35px;
    padding: 20px 0px;
    color: black;
    text-align: start;
}

.ED-tbody-ColorInterval>tr>td:first-child{
    font-size: 35px;
    padding: 20px 0px 20px 50px;
}

.ED-tbody-Lasttd-RightSide>tr>td:last-child{
    font-size: 35px;
    padding: 20px 35px 20px 0px;
}

.ED-tbody-ColorInterval>tr:last-child>td:first-child{
    border-bottom-left-radius:25px;
}   

.ED-tbody-ColorInterval>tr:last-child>td:last-child{
    border-bottom-right-radius:25px;
}

.ED-bigger-title1 {
    font-size: 75px;
    color: #044849;
    font-weight: bold;
}

.ED-bigger-title2 {
    font-size: 50px;
    color: #044849;
    font-weight: bold;
}

.ED-bigger-title3 {
    font-size: 35px;
    color: #044849;
    font-weight: bold;
}

.ED-bigger-context {
    color: #044849;
    font-size: 33px;
    font-weight: bold;
}

.ED-Form-Prescription-border {
    border: #009895 solid 6px;
    border-radius: 3%;
    padding: 20px 35px;
}

.ED-Font-Size-1 {
    font-size: 25px;
}
.ED-Font-Size-2 {
    font-size: 35px;
}

.ED-Badge-1{
    position: relative;
}
.ED-BadgesContent-1{
    position: absolute;
    left:0px;
    top:55px;
    width:400%;
    overflow: scroll;
    word-wrap: break-word;
}
.ED-BadgeTablePosition-2{
    position: relative;
}
.ED-Badge-2{
    position: absolute;
    left:0px;
    top:25px;
    width:100%;
}
.ED-BadgesTable-2{
    position: absolute;
    left:0px;
    top:80px;
    width:100%;
    overflow: scroll;
    word-wrap: break-word;
}