<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TTMH_EDA_HIS</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/TTMH_EDA_HIS.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        @await RenderSectionAsync("CSS", required: false)
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #0FC2C0 !important;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="width:100px;height:100px">
                        <span class="navbar-toggler-icon" style="width:fit-content;height:70px;">
                            <img src="~/img/Logo.png" class="img-fluid" alt="Logo">
                        </span>
                    </button>
                    <img src="~/img/Logo.png" class="img-fluid ED-Nav-Logo" alt="Logo" width="60px">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                        <div class="d-flex">
                            <partial name="_LoginStatusPartial" />
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="row">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted">
        
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Script", required: false)
    </body>
</html>
