@using System.Security.Claims;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string? Role = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value;
    string RoleDisplay = "";
    switch (Role)
    {
        case "Doctor":
            RoleDisplay = "醫生";break;
        case "Pharmacist":
            RoleDisplay = "藥師";break;
        case "Cashier":
            RoleDisplay = "櫃員"; break;
        case "Employee":
            RoleDisplay = "員工";break;
    }
}
@if(User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-4">
            <a class="nav-link h2 text-white" href="#">@User.Claims.FirstOrDefault(x=>x.Type==ClaimTypes.GivenName).Value@RoleDisplay</a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link h2 text-white" asp-controller="Account" asp-action="Logout">登出</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-4">
            <a class="nav-link h2 text-white" asp-controller="Account" asp-action="Login">登入</a>
        </li>
    </ul>
}